<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
    <title>HomePage</title>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
 <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
 <style>
 .design {
  text-align: justify;
  text-justify: inter-word;
    padding-right: 40px;
  padding-left: 14px;
}
 </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color:rgb(0, 153, 153)">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a  style="color:white"class="nav-link active" aria-current="page" th:href="@{'/'}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
        </li>
        <li class="nav-item">
          <a  style="color:white"class="nav-link active" aria-current="page" th:href="@{'/member'}">Member</a>
        </li>
                <li class="nav-item">
          <a  style="color:white"class="nav-link active" aria-current="page" th:href="@{'/account'}">Account</a>
        </li>

                       <li class="nav-item">
          <a  style="color:white"class="nav-link active" aria-current="page" th:href="@{'/report'}">Report</a>
        </li>

    </div>
  </div>
</nav>
<div class="card mb-3" style="background-color:rgb(26, 0, 13)">
  <div class="card-body">
    <h5 class="card-title" style="color:white"><strong> Information</strong></h5><br>
    <div class="container center col-md-7 offset-md-2 " style="background-color:white; border-radius: 10px" data-aos="flip-left" >
    <pre></pre>
    <p style="color:black"><br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assignment: </strong> Banking Transaction (Spring Boot)</p>
     <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Given by:</strong> Business Novelty Limited. </p>
     <div class="design"> <strong>&nbsp;&nbsp;Submitted by:</strong> Md.Sajjadur Rahman --> <a href="http://sajjadurrahman.unaux.com/">Details</a></a></p></div>
          <div class="design"> <strong>&nbsp;&nbsp;Submitted date:</strong> 07/01/2021</p></div>
     
     <br>
    </div>
    <br><br>
        <div class="container center col-md-7 offset-md-2 design " style="background-color:white; border-radius: 10px" data-aos="flip-left" >
    <pre></pre>
    <p style="color:black"><br> <strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Used Technology- </strong></p>
     <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->Spring Boot</strong></p>
                    <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->JAVA</strong></p>
     
                  <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->My Sql:</strong> Xampp</p>
                  

               <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->Dependency:</strong> Spring Web, Spring Data JPA, Thymeleaf, My SQL Driver</p>
                         <p style="color:black"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;->Git</strong></p>
     
     <br>
    </div>
    
    <br><br>
            <div class="container center col-md-7 offset-md-2 " style="background-color:white; border-radius: 10px" data-aos="flip-left" >
    <pre></pre>
    <p style="color:black"><br><div class="design">  <strong>&nbsp;&nbsp;&nbsp;Business Novelty Limited </strong><br><br> Business Novelty Ltd. has already come a long way from its beginning to gain trust among clients both in local and international markets. Their passionate and highly efficient team has been able to expand company footprint to Financial Technology, Bio Technology, Legal and Telecommunication industry and the journey has just been begun. In this journey, clients’ good words and their success through solutions and services has always been the number one inspiration for them to thrive.  <a href="https://biznovelty.com/">For Details</a></a></div>  </p>

     
     <br>
    </div>
    </div>
    </div>





</body>
</html>